<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style2.css">
</head>

<body>

    <script>
        $(document).ready(function() {
            $.ajax({
                type: "POST",
                url: "http://mi.amhrlab.com:5000/form.html",
                crossDomain: true,
                success: function(data) {
                    console.log('Submission was successful.');
                    console.log(data);
                    $("#div1").html(data);
                },
                error: function(data) {
                    console.log('An error occurred.');
                    console.log(data);
                },
            });
        });
    </script>

    <div class="main">
        <div class="container">
            <form id="study" action="http://mi.amhrlab.com:5000/check" method="POST" class="form1" onsubmit="this.check.disabled=true; this.check.value='Calculating...'; this.check.style.opacity=0.7">
                <p class="sign" align="center">Given Sentence</p>
                <div id="div1" class="sen" align="center"></div>
                <textarea rows="2" cols="50" name="candidate" form="study" placeholder="Your sentence" class="un"></textarea>
                <input type="submit" id="check" name='check' value="Check" class="submit" align="center">
                <div id="suremsg" class="sen" align="center"></div>
                <input type="button" id="submit_reload" name='submit' value="Submit" class="submit" align="center" style="opacity:0.7;" disabled=true>
            </form>
            <p></p>
            <div id="scores" class="sign1" align="center">
                <p class="sen" align="center">BLEURTScore:
                    <div id="div2" class="sen" align="center"></div>
                </p>
                <p class="sen" align="center">MIScore:
                    <div id="div3" class="sen" align="center"></div>
                </p>
                <p class="sen" align="center">Dollars:
                    <div id="div4" class="sen" align="center"></div>
                </p>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var frm = $('#study');
        frm.submit(function(e) {
            e.preventDefault();
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(), //you may use jsonp for cross origin request
                crossDomain: true,
                success: function(data) {
                    console.log('Submission was successful.');
                    console.log(data);
                    $("#div2").html(data['bleurtscore']);
                    $("#div3").html(data['miscore']);
                    $("#div4").html(data['dollars']);
                    if (data['dollars'] == 0) {
                        $("#suremsg").html('Dollar value is 0. If you submit, you would not get any money for this submission. Please retry and check.');
                    }
                    $("#candidate").html(data['candidate']);
                    $('#check').prop('disabled', false);
                    $('#check').prop('value', 'Check');
                    $('#check').css('opacity', '1');
                    $('#submit_reload').prop('disabled', false);
                    $('#submit_reload').css('opacity', '1');
                },
                error: function(data) {
                    console.log('An error occurred.');
                    console.log(data);
                },
            });
        });
        $('#submit_reload').click(function() {
            $.ajax({
                type: "POST",
                url: "http://mi.amhrlab.com:5000/submit",
                crossDomain: true,
                data: $('#study').serialize(),
                success: function(data) {
                    console.log('The request was a success');
                    window.location.href = '/form.html';
                },
            });
        });
    </script>

</body>

</html>